  div.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
  }

  .container{
    background-color: honeydew;
    border-radius: 10px;
    height: 70%;
    width: 25%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
  }

  .headr{
    display: flex;
    padding-top: 15%;
    justify-content: center;
    align-items: center;
  }

  .headr img{
    width: 40%;
    height: 40%;
    border: 1px solid black;
    border-radius: 50%;
  }

  .headr h1{
    padding-left: 10px;
    font-family: cursive;
  }

  .fom{
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  input{
    font-size: 15px;
    width: 90%;
    background-color: lightblue;
    font-family: monospace;
    padding : 8px;
    border-radius: 5px;
  }

  #email{
    margin-bottom: 20px;
  }

  input.sub{
    width: 40%;
    margin-top: 15%;
    cursor: pointer;
  }

  input.sub:hover{
    background-color: skyblue;
    border-color: gray;
    color: blueviolet;
    font-weight: bolder;
    border: 1px solid seagreen;
    border-style: outset;
  }

  .tog{
    position: absolute;
  }

  #tg{
    position: absolute;
    right : -100px;
    transform: (0,-50%);
    top: 25%;
    cursor: pointer;
  }
